#page-auth {
  display: flex;
  align-items: stretch;
  height: 100vh;

  .vertical-text {
    font-size: 12px;
    color: #3d0bd3;
    margin-top: 26px;
    transform: rotate(-0deg);
  }

  img {
    max-width: 180px;
    align-self: center;
  }

  aside {
    flex: 8;
    padding:0 32px;
    display: flex;
    align-items: center;
    justify-content: center;  
    background: #835afd;
    color: #3d0bd3;
    flex-direction: column;
    text-align: center;
    
    strong {
      font: 500 25px 'Poppins', sans-serif;
      line-height: 42 px;
      margin: 36px 0 36px;
    }

    p {
    font-size: 18px;
    color: #3d0bd3;
    margin: 5px 0;
    display: inline-flex;
    align-items: center;
    }
  }

  main {
    flex: 8;
    padding:0 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #b4a0f1;
    color: #FFF;
  }

  .main-content {
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    align-items: center;
    text-align: center;
    display: flex;    
  }

  .create-collection {
    margin-top: 64px;
    padding: 15px;
    height: 50px;
    border-radius: 8px;
    font-weight: 500;
    background: #ea4335;
    color: #FFF;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    border: 0;

    transition: filter 0.2s;

    img {
      margin: 64px 15px 64px 0;
    }

    &:hover {
      filter: brightness(0.9);
    }
  }

  .separator {
    font-size: 18px;
    color: #7951f3;
    margin: 32px 0;
    display: flex;
    align-items: center;
  }

  input {
    margin-top: 35px;
  }
}