#page-auth {
  display: flex;
  align-items: stretch;
  height: 100vh;

  .image-credit {
    display: flex;
  }
  
  .vertical-text {
    font-size: 8px;
    line-height: 10px;
    color: #3d0bd3;
    transform: rotate(-90deg);
    width: 100px;
    // margin: auto;
  }

  img {
    max-width: 240px;
    // align-self: center;
  }

  aside {
    flex: 7;
    background: #835afd;
    color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;  
    // padding:120px 80px;
    // align-items: center;
    // text-align:justify;
    
    strong {
      font: 700 36px 'Poppins', sans-serif;
      line-height: 42 px;
      margin: 16px 0;
      text-align: end;
      
      // max-width: 380px;
      // border-right: auto;
    }

    p {
    font-size: 24px;
    // line-height: auto;
    margin: 16px 0;
    color: #fff;
    // max-width: 340px;
    text-align: end;
    // border-right: auto;
    // margin: 5px 0;
    // display: inline-flex;
    // align-items: center;
    }
  }

  main {
    flex: 8;
    padding:0 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    color: #FFF;
  }

  .main-content {
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    align-items: center;
    text-align: center;
    display: flex;    
  }

  .create-collection {
    margin-top: 64px;
    padding: 15px;
    height: 50px;
    border-radius: 8px;
    font-weight: 500;
    background: #ea4335;
    color: #FFF;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    border: 0;

    transition: filter 0.2s;

    img {
      margin: 64px 15px 64px 0;
    }

    &:hover {
      filter: brightness(0.9);
    }
  }

  .separator {
    font-size: 18px;
    color: #7951f3;
    margin: 32px 0;
    display: flex;
    align-items: center;
  }

  input {
    margin-top: 35px;
  }
}